# What do we need language ?
Language is one of the most important parts of any culture. It is the way by which people communicate with one another, build relationships, and create a sense of community

#What is a Typed language ?
Typed languages can be classified into two categories -

1) Statically typed languages

2) Dynamically typed languages

#1. Statically typed languages -
Statically typed languages are the languages like C, C++, Java, etc, In this type of language the **data type** of a **variable is known** at the **compile time** which means the programmer has to **specify** the **data type** of a variable at the **time** of its **declaration**. We have to pre-define the return type of function as well as the type of variable it is taking or accepting for further evaluations

In [ ]:
# str tom = "Data"
# int jerry = 20
# float alice = 32.0

#2. Dynamically typed languages -
These are the languages that **do not require** any **pre-defined data type** for any variable as it is **interpreted** at **runtime** by the machine itself. In these languages, interpreters assign the data type to a variable at runtime depending on its value. We don’t even need to specify the type of variable that a function is returning or accepting in these languages. JavaScript, Python, Ruby, Perl, etc are examples of dynamically typed languages

In [ ]:
analyst = 52.0

In [ ]:
cookie = 10

In [ ]:
knight = "data king"

#What is Python?
Python is a high-level, general-purpose, and very popular programming language. Python programming language (latest Python 3.12.4) is being used in web development, and Machine Learning applications, along with all cutting-edge technology in Software Industry. Python language is being used by almost all tech-giant companies like – Google, Amazon, Facebook, Instagram, Dropbox, Uber… etc.

In [ ]:
# Python + C = Cython

#Python Feature
Simple and Easy to Learn

Interpreted

High-Level

Dynamic Typing

Strong Typing - Case sensitive

Extensive Standard Library

Cross-Platform - Type of applications/software/program that works on various operating systems or devices.

Community and Ecosystem :

* Community - Python community is large,active and supportive & provides forums,tutorials & documentation, making it easier for developers to learn & use python.

* Ecosystem - It is network of interconnected libraries,framework & applications is a technology with the latest features and capabilities.

Versatile - To adjust in new conditions

 # 1.INTRODUCTION TO PYTHON

1) Python is server side language in web development.

2) print() has capability to accept special information.
When you want to change the line then empty print function is used [print()].

3) Comment start with a '#' . Python ignores them.

4) Python is a case sensitive programming language.

5) Python is Dynamic Typed language and Interpreter Language(line by line working).

In [ ]:
# Printing something on screen

print("Python is amazing programming language !")

Python is amazing programming language !

In [ ]:
# Double Quote

print("Hello Women In Data")

Hello Women In Data

In [ ]:
# Single Quote

print('Hello Logic Queens !')

Hello Logic Queens !

In [ ]:
# Double quote and single quote can not be used simultaneously

print("Hello World !')

SyntaxError: unterminated string literal (detected at line 3) (<ipython-input-6-615a37d83a66>, line 3)

In [ ]:
# Docx string (Triple quotes)

print('''Hello Women In Data''')

Hello Women In Data

In [ ]:
#Python is case sensitive language and here error is beacuse of capital P.

Print("Python is case sensitive language !")

NameError: name 'Print' is not defined

In [ ]:
#Python is case sensitive language and here error is beacuse of capital PRINT.

PRINT("Python is a case sensitive language !")

NameError: name 'PRINT' is not defined

In a Jupiter Notebook or Google Colab Cell,the entire cell would fail to execute due to syntax error on the first line.
As a result, the first line causes the cell to fail, and neither the second nor third line will be executed.
(You should only see the error message).

In a Python Script, the script would stop execution at the first line due to the syntax error.
Therefore,neither second nor third line would be excuted.(The error message would be displayed.)

In [ ]:
print('Hello Alice")
print()
print("Hello Bob")

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-30-dbe02316334f>, line 1)

In environments like Jupiter Notebook or Google Colab Cell,the first and second line will
not executed because the third line contains a syntax error,causing the entire cell to fail.


In a Typical Script, the first and second lines would execute before the error stops the execution.
In this case,"Hello Alice" and empty line would be printed before the error occurs.

In [ ]:
print("Hello Alice")
print()
print('Hello Bob")

SyntaxError: unterminated string literal (detected at line 3) (<ipython-input-31-aca12b16ad02>, line 3)

In [ ]:
print("Hello Data Analyst ! Welcome to Python language")

Hello Data Analyst ! Welcome to Python language

In [ ]:
print("Hello Queens !           Welcome to the Python language")

Hello Queens !           Welcome to the Python language

In [ ]:
# work line by line so there is no affect of space between two print() statements.

print("Hello")

print("World !")

Hello
World !

In [ ]:
# work line by line so there is no affect of space between quotes.

print("Hello Kings !"



"Welcome to the python language.")

Hello Kings !Welcome to the python language.

In [ ]:
# work line by line interpreter language. Here we will used triple quote (docxstring) then it will work.

print("Hello World !
Welcome to the Python")

SyntaxError: unterminated string literal (detected at line 3) (<ipython-input-14-8b380ec7d910>, line 3)

In [ ]:
#empty print() function

print("Hello")
print()
print("World !")

Hello

World !

In [ ]:
print("Hello")
print()
print()
print("World !")

Hello


World !

In [ ]:
print("Queen")
print("King")
print("Students")
print("Teachers")
print("Women In Data")

Queen
King
Students
Teachers
Women In Data

In [ ]:
print("Queen","King",1,2)
print()
print("Students",40)
print()
print("Teachers")
print("Women In Data")

Queen King 1 2

Students 40

Teachers
Women In Data

In [ ]:
# posssible to write multiple print() function in one line using ',' - comma but output give in new line

print("Data Analyst") , print("cbshcbsjcv"), print(131545)
print("Women")
print("Queens")
print("Kings")
print("Women In Data")

Data Analyst
cbshcbsjcv
131545
Women
Queens
Kings
Women In Data

In [ ]:
print("Data","Science")                 # comma (,) - consider as a space in print() function.
print("Alice")
print("Bob")
print("Women In Data")

Data Science
Alice
Bob
Women In Data

In [ ]:
print("Ladies","Gentlemen")
print()                                 # empty print() function taking for new line.
print("Alice")
print()
print("Bob")
print("Women In Data")

Ladies Gentlemen

Alice

Bob
Women In Data

In [ ]:
print("he\nllo\n","w\norld")

he
llo
 w
orld

In [ ]:
print("10+5")

10+5

**If you want to add, subtract, multiply, divide the numbers you don't write as a string...**

In [ ]:
print(10 + 5)

15

In [ ]:
print(10 - 5)

5

In [ ]:
print(-45 + 2)

-43

In [ ]:
print(10 * 5)

50

In [ ]:
# Here answer is 2.0 instead of 2 because float division give more precise answer.

print(10 / 5)                                # special : Result is always in float

2.0

In [ ]:
# 10/5 answer is 2 but it gives 2.0 (both are int type value)
# float division operator print 2.0 and (10//5) will give 2

print(10 / 6)

# "//"" Floor Operator
# "/" uniformly works as a float division operator.So, it always returns float type : 10/6 returns 1.66666667 instead of 1 & 6/3 returns 2.0 instead of 2.

print()
print(10 // 6)

1.6666666666666667

1

In [ ]:
# operator will work

print(10
      +
      5)

15

In [ ]:
print(10           -           10)

0

In [ ]:
#Defining a variable

x = 5

In [ ]:
print(x)

5

In [ ]:
#Take a variable and print with the help of it.

var = input()

12

In [ ]:
# example for indenditation

for i in range(1,11,1):
  print(i,end=" ")

#HomeWork Questions

In [ ]:
'''
Print the following text in the output:

Hello

World !
Note: There is a empty line you need print between Hello and World !

'''

print("Hello")
print()
print("World !")                          # 1 way

print("--------")
print("Hello\n\nWorld!")                  # 2 way - not getting any space

Hello

World !
--------
Hello

World!

In [ ]:

'''

Print the following text:

Hello 40
50 World !

'''

print("Hello 40")
print("50 World !")                      # 1 way

print("----------")
print("Hello 40","\n50 World !")         # 2 way take space after Hello 40 because of (,)

print("-----------")
print("Hello 40\n50 World !")            # 3 way not getting any space

Hello 40
50 World !
----------
Hello 40
50 World !
-----------
Hello 40
50 World !

In [ ]:
'''

Print the text

Hello
World !

'''

print("Hello")
print("World !")                      # 1 way

print("--------")
print("Hello","\nWorld !")            # 2 way : it gives correct output same as in question . but it takes space after hello

print("---------")
print("Hello\nWorld !")               # 3 way not getting any space

Hello
World !
--------
Hello
World !
---------
Hello
World !

In [ ]:
print("Data\n","Science")                   # there is space between second line and then print Kasliwal
print()
print("Data","\nScience")                   # there is space after the Khushi due to (,)
print()
print("Data\nScience")                      # there is no space containing between output

Data
 Science

Data
Science

Data
Science

In [ ]:
 # Print "Hello World !" in the output.

 print("Hello World !")
 print("-----------------")
 print("\"Hello World !\"")            # print in double quote

Hello World !
-----------------
"Hello World !"

###**Tricky One -**

In [ ]:
# Print won't in the output.

print("won"+"'"+"t")            # Using concat

print('won\'t')                 # Using (\ - backward slash)

print('won'"'"'t')              # Only used quotes.

won't
won't
won't

In [ ]:
'''

Print the text:

Data
--
--
Analyst

'''

print("Data")
print()
print()
print("Analyst")                               # 1 way

print("---------")
print("Data","\n\n\nAnalyst")                  # 2 way : take space after Data

print("---------")
print("Data\n\n\nAnalyst")                     # 3 way

Data


Analyst
---------
Data


Analyst
---------
Data


Analyst

In [ ]:
'''
Print the below statement as it is

AI can replace the Humans
  by it's techniques
'''

print("AI can replace the Humans")
print(" by it's techniques")                                                 # 1 way

print("----------------------------------------------")
print("AI can replace the Humans\n","by it's techniques")                    # 2 way

print("----------------------------------------------")
print("AI can replace the Humans\n by it's techniques")                      # 3 way

AI can replace the Humans
 by it's techniques
----------------------------------------------
AI can replace the Humans
 by it's techniques
----------------------------------------------
AI can replace the Humans
 by it's techniques

#Curious Questions

In [ ]:
'''

Your task is to print the pattern given below.

*
**
***
****
*****
******

The output is in the same format as shown in the problem description.

'''

print("*")
print("**")
print("***")
print("****")
print("*****")
print("******")                                                 # 1 way
print("------------")

print("*","\n**","\n***","\n****","\n*****","\n******")         # 2 way - It will take space

print("-------------")
print("*\n**\n***\n****\n*****\n******")                        # 3 way - (some compilers don't want to space in the output)

*
**
***
****
*****
******
------------
*
**
***
****
*****
******
-------------
*
**
***
****
*****
******

In [ ]:
'''

Problem Description -

Take two strings "str1" and "str2" as input. Then your task is to concatenate the two strings and print the resultant
concatenated string.
Input Format

Two strings namely, str1 and str2
Output Format

str1 and str2 joined together

Sample Input -

str1 = Scaler
str2 = Academy

Output - ScalerAcademy

'''

str1 = input()
str2 = input()

print(str1 + str2)              # it works as join two string without any space in between
print('-----------------')
print(str1 , str2)              # (,) - comma will take space in between str1 and str2

Scaler
Academy
ScalerAcademy
-----------------
Scaler Academy

In [ ]:
'''

Print first 5 odd numbers i.e. 1, 3, 5, 7, 9.

Print first five odd numbers separated by space.

'''
print("1","3","5","7","9")        # 1 way
print("-----------")
print(1,2,3,4,5)                  # 2 way

1 3 5 7 9
-----------
1 2 3 4 5

In [ ]:
'''

Perform the following operations on 6 and 3 and print their respective outputs in different lines.
1. Addition
2. Subtraction
3. Multiplication
4. Division

Print the output of 6+3, 6-3, 6*3, 6/3 in separate lines

'''

print(6+3)
print(6-3)
print(6*3)
print(6/3)                                    # 1 way

print("---------")
print(6+3),print(6-3),print(6*3),print(6/3)   # 2 way - multiple print() statements are work in one line

print("---------")
print(6+3,"\n",6-3,"\n",6*3,"\n",6/3)         # 3 way - it will space after the every result and then print the result.

9
3
18
2.0
---------
9
3
18
2.0
---------
9
 3
 18
 2.0

In [ ]:
'''

Problem Description
Print first 5 even numbers i.e. 0, 2, 4, 6, 8.


Output Format
Print first five even numbers separated by space.

'''
print("0","2","4","6","8")              # 1 way
print("-----------")
print(0,2,4,6,8)                        # 2 way

0 2 4 6 8
-----------
0 2 4 6 8

In [ ]:
'''

Write a program to print the pattern given below:

   *
  ***
 *****
*******

The output format should be same as the problem description.

'''

print("   *   ")
print("  ***  ")
print(" ***** ")
print("*******")                                            # 1 way


print("--------------")
print("   *","\n  ***","\n *****","\n*******")              # 2 way : when you write \n before string then it will give output in new line without any space

print("--------------")
print("   *\n  ***\n *****\n*******")                       # 3 way : In this didn't use of comma(,)

   *
  ***
 *****
*******
--------------
   *
  ***
 *****
*******
--------------
   *
  ***
 *****
*******

In [ ]:
'''

*
**

'''

print("*")
print("**")                                 # 1 way

print("-------")
print("*","\n**")                           # 2 way


print("-------")
print("*\n**")                              # 4 way

print("------")
print("*"),print("**")

*
**
-------
*
**
-------
*
**
------
*
**

(None, None)

In [ ]:
'''

*
 **

'''
print("*")
print(" **")                # 1 way

print("-------")
print("*\n","**")           # 2 way

print("-------")
print("*"),print(" **")     # 3 way

print("------")
print("*\n **")             # 4 way

*
 **
-------
*
 **
-------
*
 **
------
*
 **

In [ ]:
# why it displays two line

print("\n")

print("------")
print("a\nb")

------
a
b

#Tricky Question -

In [ ]:
#Hello Ross Taylor! You just delved into python.

# Here is only two inputs are given Ross and Taylor

str1 = input()
str2 = input()

print(f"Hello {str1} {str2}! You just delved into python.")
# formatted string.....

print("Hello",str1,str2+'!',"You just delved into python.")
# concatenated the string.......

Ross
Taylor
Hello Ross Taylor! You just delved into python.
Hello Ross Taylor! You just delved into python.

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of google.colab._kernel.Kernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplementedError if active frontend doesn't support stdin.

In [ ]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.