#**Important Point -**
* Everything in Python cosidered as object.

* Python classifies objects into two primary objects : Mutable & Immutable Data Types

* Mutable & Immutable Data Types in Python form the backbone of how data is managed & manipulated within programs.

**1. Mutable Data Types -**
It refers to entities whose internal state can be altered(Can be changeable) after creation.

* **List,Set,Dict are Mutable Data Types**

**2. Immutable Data Types -**
Entities whose state cannot be modified after creation.

These objects retain their original values throughout their lifespan.


* **Integer , Float(Decimal), String, Tuple & Frozenset are Immutable Data Types.**

# Data Types
Python supports various data types, including integers, floats, strings, lists, tuples, dictionaries, and more.

A. Numeric -
1. Integers - Whole numbers without decimals.
2. Floats - Numbers with decimals.
3. Complex - Numbers with both real and imaginary parts.

B. Dictionary

C. Boolean

D. Set

E. Sequence / Collection Type -
1. Strings - Text enclosed in single or double quotes.
2. Lists - Ordered collections of items.
3. Tuples - Immutable collections of items.

#Data Types in Python

There are several data types in python. Some of are as -

1) Integer (int) : No size / length restriction.
* **Integer Data Type (valid integer values only) does not accept float values.**.
* Examples : 5, 0, 93, -562, -2369, 185565882582548......, -54962549956265......


2) Decimals (Float) : No size / length restriction.

* **Float Data Type accept Float Values as well as Integer Values.**
* **But there has some restrictions on Float Data Type in Python not for Python.**
* Examples : 0.2, 12.0, 56.32562, -45.20, -546.19532995....., 152.15624845......

3) String (str) : Collection of Characters or Anything in double quotes/single quotes/triple quotes(Docx String).

* **String** is biggest set of Data Type in Python

* Examples : "assjjsj", 'snjhisji' ,"@#$%!&*" (special character), '521', "10.23"

4) Boolean (bool) : Only two values ---> True / False

5) None (None) : Nothing or Empty in Python



**Always Remember - ðŸ‘‡**
* **Complex number** is also recognize as separate Data Type in Python

* **char and double data type not exist in Python**

In [ ]:
# int data type : no size of restriction

print(15852799355356366)

15852799355356366

In [ ]:
# All digits are displayed(int Data Type).

print(6595633089745693255896588966258963258896358632255966332565635886)

6595633089745693255896588966258963258896358632255966332565635886

In [ ]:
# float data type : no size of restriction if number is small.

print(152.36984126555666)

152.36984126555666

###Always Remember ðŸ‘‡

In [ ]:
# There is some restriction for Float Data Type in Python because of machine architecture.

print(86652.856656582231332698995323698989266666444444444448888888222222222)

86652.85665658223

In [ ]:
# String Data Type

print("Ross")

Ross

In [ ]:
# Any numbers in Quotes

print("1234")

1234

In [ ]:
# str data type (special character is allowed)

print("sjsdjekk@#%kjdii")

sjsdjekk@#%kjdii

In [ ]:
# bool data type

print(True)

True

In [ ]:
# bool data type

print(False)

False

In [ ]:
# None data type

print(None)

None

In [ ]:
#name 'none' is not defined

print(none)

NameError: name 'none' is not defined

In [ ]:
# This is complex number.Python recognize complex number is separate data type.

print(5 + 6j)

# Output : (5+6j) because it is vector (python property)
#This distinguishes them from real numbers and avoids ambiguity in expressions with multiple operations.

(5+6j)

# How To Check Data Type ???
* print(type(value)) - one function in another function

* Flow of print(type(value)) :

Example : print(type(5))

[5] ---> [type] ---> [int(check data type)] ---> [print] ---> [int is printed]

# Checking what data type is it???

In [ ]:
print(type(6))

<class 'int'>

In [ ]:
print(type(2.0))

<class 'float'>

In [ ]:
print(type("Alice"))

<class 'str'>

In [ ]:
# Anything inside in the Quotes considered as String.

print(type("1233"))

<class 'str'>

In [ ]:
print(type(True))

<class 'bool'>

In [ ]:
print(type(False))

<class 'bool'>

In [ ]:
print(type(5 + 8j))

<class 'complex'>

# Type Casting in Python (Implicit and Explicit)
* Conversion of one data type into another data type

* Type Casting is the method to convert the Python variable datatype into a certain data type in order to perform the required operation by users.

There can be two types of Type Casting in Python -
1. Python Implicit Type Conversion

2. Python Explicit Type Conversion

# 1. Implicit Type Conversion in Python -
In this, method, Python converts the datatype into another datatype automatically. Users donâ€™t have to involve in this process.

In [ ]:
a = 5
print(type(a))

b = 2.0
print(type(b))
print('----------------')

# c to float as it is a float addition
c = a + b
print(c)
print(type(c))            # Automatically Convert into Float Datatype
print("----------------")

# c to float as it is a float multiplication.
c = a * b
print(c)
print(type(c))

<class 'int'>
<class 'float'>
----------------
7.0
<class 'float'>
----------------
10.0
<class 'float'>

In [ ]:
a = 25
print(type(a))

b = 5
print(type(b))
print("------------------")

# c to float as it is a float division.
c = a / b
print(c)
print(type(c))          # Both inputs are int datatype but it will automatically convert the value of c into floa

<class 'int'>
<class 'int'>
------------------
5.0
<class 'float'>

# 2. Explicit Type Conversion in Python -
In this method, Python needs user involvement to convert the variable data type into the required data type.

Mainly type casting can be done with these data type functions -

1. Int() - Python int() function take float or string as an argument and returns int type object.

2. float() - Python float() function take int or string as an argument and return float type object.

3. str() - Python str() function takes float or int as an argument and returns string type object.

###For int Data Type ðŸ‘‡

In [ ]:
Mario = 1278.96                  # Float Data type
print(int(Mario))                # Change the float data type into int data type

1278

#### Only Integer inside in the Double/Single/Triple Quotes convert into Integer.

In [ ]:
wilson = "12330"                  # Taking input(int) in quotes so it will convert into int.
print(int(wilson))

12330

#### Float inside in the Double/Single/Triple Quotes can't convert into Integer.Because of precision.

In [ ]:
# Because Int Datatype only take integer input.
martin = "12.330"                  # Taking input(float) in quotes so it will not convert into int.
print(martin)
print(int(martin))

12.330

ValueError: invalid literal for int() with base 10: '12.330'

#### String(Characters) can't covert into integer and float.

In [ ]:
thor = "Anjali"                   # Taking input(characters) it will not convert into int.
print(int(thor))

ValueError: invalid literal for int() with base 10: 'Anjali'

###For Float Data Type ðŸ‘‡

In [ ]:
tony = 14                       # Taking Input as integer
print(float(tony))              # Change the int data type into float data type

14.0

In [ ]:
zara = 12.35                    # Taking input(numbers) it will convert into float.
print(float(zara))

12.35

#### Inside Double/Single/Triple Quotes is Integer or Float so it is treated as string so python has capability to convert into Float.

In [ ]:
Greedy = "12514"                  # Taking input(int) in quotes so it will convert into float
print(float(Greedy))

12514.0

In [ ]:
#Because float data type take int as well as float input.
Angle = "123.34"                  # Taking input(float) in quotes so it will convert into float.
print(float(Angle))

123.34

### String(Characters) can't covert into integer and float.

In [ ]:
master = "Wilson"                   # Taking input(characters) it will not convert into float.
print(float(master))

ValueError: could not convert string to float: 'Anjali'

###For String Data Type ðŸ‘‡

In [ ]:
bob = 1545                     # Taking input as int data type and convert into String datatype
print(str(bob))

1545

In [ ]:
amul = 1523.02                 # Taking input as float data type and convert into String datatype
print(str(amul))

1523.02

In [ ]:
ross = "12330"                 # Taking input(integer) in quotes offcourse it will convert into string.
print(str(ross))

12330

In [ ]:
alice = "12.35"                # Taking input(float) in Quotes offcourse it will convert into string.
print(str(alice))

12.35

In [ ]:
# First it will print statement and then check the type

type(print("hello"))

hello

NoneType

# Variable Declaration

**Variable is simply an empty container which can hold anything inside of it.**

There are 6 rules to define/creating variable in Python

1) Variable name can only start with alphabets or _ (underscore).

2) After the start , you can have any alphabet ,numbers or _ in the name.

3) Special character not allowed like @, #, +, -, *, /

4) The reserved words(keywords) in Python cannot be used to name the variable in Python.

5) Variable in Python names are case-sensitive (name, Name, and NAME are three different variables).

6) A Python variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).


Examples :

random = 123 -----> valid

Random = 123 -----> valid

_random = 123 ----> valid

123random = 123 ----> Invalid

random123 = 123 ----> valid

random_123 = 123 ----> valid

Random_something_123 = 123 -----> valid

random@123 = 123 ----> Invalid (special character not allowed)

In [ ]:
var1 = 123

In [ ]:
1var = 123

SyntaxError: invalid decimal literal (<ipython-input-37-00acb0b24b6f>, line 1)

In [ ]:
# Taking user inputs : By default input taking from user is in STRING

any_variable_name = input()

This is user input !

In [ ]:
print(any_variable_name)

This is user input !

In [ ]:
num1 = input()

1234

In [ ]:
# Answer is <class 'str'> because by default input always takes string

print(type(num1))

<class 'str'>

In [ ]:
te_ct = 123
print(te_ct)

123

In [ ]:
#Variable assign string value also.

te_123 = 'abc'
print(te_123)

abc

In [ ]:
te_123 = 456
print(te_123)

456

In [ ]:
# Concatenate the string(input values)

text1 = input()
text2 = input()

print(text1 + text2)

Khushi
Kasliwal
KhushiKasliwal

In [ ]:
# We want space between two strings

str1 = input()
str2 = input()

print(str1,str2)

Khushi
Kasliwal
Khushi Kasliwal

In [ ]:
num1 = input()               # By default it accept string data type
num2 = input()

print(num1 + num2)

10
20
1020

In [ ]:
n = int(input())                  # This statement accept integer data type as a input (valid integer values only) does not accept float values
m = int(input())

print(n + m)                      # now it performs addition

10
15
25

In [ ]:
num1 = int(input("enter a first number - "))
num2 = int(input("enter a second number - "))

print(num1 + num2)

enter a first number - 10
enter a second number - 52
62

In [ ]:
n = float(input())                 # This statement accept float as a input as well as integer data types (Both allowed)
m = float(input())

print(n - m)

84
20.0
64.0

### Square & Square root Of the number

In [ ]:
#Square of any integer number
a=int(input())
print(a,"SQUARE -",a**2)

print("---------------")
#Square of any integer number
num1 = int(input("Enter a number - "))
print("Square of given number is :",num1*num1)

print('-------------------------------------')
print("Square of given number is : ", num1 ** 2)

5
5 SQUARE - 25
---------------
Enter a number - 5
Square of given number is : 25
-------------------------------------
Square of given number is :  25

In [ ]:
#Square root of any integer number
a=int(input())
print(a,"SQUARE ROOT -",a**0.5)

print("-------------------------")
print(a,"SQUARE ROOT -",a**(1/2))

25
25 SQUARE ROOT - 5.0
-------------------------
25 SQUARE ROOT - 5.0

#end() and sep()

In [ ]:
'''
Default Values

sep = " "  >- space (work in between print statement)

end = \n   >- new line (work at the end of the print statement)

, is nothing but print space between the strings/numbers.

'''

In [ ]:
/ = forward

In [ ]:
\ = backword

## Question using sep()

In [ ]:
print(56,6.7,"Random",True)

56 6.7 Random True

In [ ]:
# Add '+' in between each individual value...

print(56,'+',6.7,'+',"random",'+',True)                             # 1 way

print(56,6.7,"Random",True,sep="+")                                 # 2 way  : Output will not contain space between the individual values

56 + 6.7 + random + True
56+6.7+Random+True

In [ ]:
# Here print statement will only follow separater instruction ',' is not consider here.

print(56,6.7,"Random",True,sep="     ")

56     6.7     Random     True

In [ ]:
print(56,6.7,"Random",True,sep="__+__")

56__+__6.7__+__Random__+__True

In [ ]:
print(56,6.7,"random",True,sep="|Random|")

56|Random|6.7|Random|random|Random|True

In [ ]:
'''
  Output : 1
           2
           3
           4
           5
'''
print(1,2,3,4,5,sep="\n")

1
2
3
4
5

In [ ]:
print("jcbsjc","cbjscbsc",sep = "piyush")
print()
print(1,2)
print(124654)

jcbsjcpiyushcbjscbsc

1 2
124654

In [ ]:
print("Alice","Bob","Women","Data","Queen",sep = "\t")
print("Wilson")
# here \t is tab (space) but it is not specific in between the data.

Alice	Bob	Women	Data	Queen
Wilson

## Questions using end()

In [ ]:
print(1,2,3,end ="hello")
print(4,5)

1 2 3hello4 5

In [ ]:
print(1,2,3,end = "ross")

1 2 3piyush

In [ ]:
# why second print statement not going to next line: because by defult end works as new line . Here instead of new line there is ++.That's why.

print("abcdefg","12345",end=" ++ ")
print("ijklmnop")

abcdefg 12345 ++ ijklmnop

In [ ]:
# When it comes to separate print statments happens is that whenever print statement ends it automatically moves to the next line.

print("line 1")
print("line 2")
print("line 3")

line 1
line 2
line 3

In [ ]:
print("line 1",end= '__')
print("line 2")                   # this still ends with a '\n'
print("line 3")

line 1__line 2
line 3

In [ ]:
print(1,end="data")

1data

In [ ]:
num = input()
ber = input()
print(num, ber , end = "")

5
6
5 6

## Question using both sep() and end().

In [ ]:
print("*****\t*",end ="mario")
print("something",sep ="+")
print("hello data queen",sep =" ++++ ")

*****	*mariosomething
hello data queen

In [ ]:
print("Alice","Ross","Women","Data","Queen",sep = "Science",end = "t")
print("\nMaster")

AliceScienceRossScienceWomenScienceDataScienceQueent
Master

In [ ]:
print("Alice","Ross","Women","Data","Queen",sep = "Science",end = "t\n")
print("Master")

AliceScienceRossScienceWomenScienceDataScienceQueent
Master

In [ ]:
print("Alice","Ross","Women","Data","Queen",sep = "Science",end = "t/n")
print("Martin")

AliceScienceRossScienceWomenScienceDataScienceQueent/nMartin

In [ ]:
print("\n*\n*")
print("\n*",end = "wow")
print("**\n**",sep = "ross")
print("\n***\n***")

*
*

*wow**
**

***
***

In [ ]:
print("*****\t*",end ="yup")
print("something",sep ="+")
print("hello ","data","queen",sep =" ++++ ")

*****	*yupsomething
hello  ++++ data ++++ queen

In [ ]:
print("*****\t*",end ="ohhhh")
print("something",sep ="+")
print("hello ""data""queen",sep =" ++++ ")

*****	*ohhhhsomething
hello dataqueen

In [ ]:
print("abcsdsduhdu","123456789",sep="\n",end=" AA ")

abcsdsduhdu
123456789 AA

In [ ]:
print("dcdc")
print("vdhvd","duchdge",sep="++",end = " AA ")
print("cbjdb ",'ducgscj')

dcdc
vdhvd++duchdge AA cbjdb  ducgscj

In [ ]:
print(1,2,3,sep="+",end="This is the END")
print(4,5,sep='_')

1+2+3This is the END4_5

#Curious Questions

In [ ]:
'''

Your friend Rahul plans to visit exotic countries all around the world.
Sadly, Rahul's math skills aren't good enough.
Given the amount of money Rahul has before the currency exchange and the amount of money that is spent from his savings,
print the amount of money that remains in his savings.

Input:-
116
12

Output:-
104

'''
num1 = int(input("Enter the amt of money : "))
num2 = int(input("Enter the amt of money - "))

print(num1 - num2)

Enter the amt of money : 116
Enter the amt of money - 12
104

In [ ]:
'''

Print the first five letters of the English alphabet i.e. A, B, C, D and E.

Output -
A
B
C
D
E

'''
print("A")
print('B')
print("C")
print('D')
print("E")                                # 1 way

print('----------')
print("A",'B',"C","D",'E',sep="\n")       # 2 way

print("----------")
print("A\nB\nC\nD\nE")                    # 3 way

A
B
C
D
E
----------
A
B
C
D
E
----------
A
B
C
D
E

In [ ]:
'''

Given two names A and B as input, print "A says Hi to B" (Without quotations), where A and B are the names in input.

Output:-
Ram says Hi to Shyam

'''

name1 = input("Enter the name - ")
name2 = input("Enter the second name - ")

print(name1,"says Hi to",name2)

print(name1 + " says Hi to " + name2)

Enter the name - Ram
Enter the second name - Shyam
Ram says Hi to Shyam
Ram says Hi to Shyam

In [ ]:
'''

You're going to write some code to help you cook a gorgeous lasagna from your favorite cookbook.
According to your cookbook, the Lasagna should be in the oven for 40 minutes. Given the time (in minutes), the lasagna has been in the oven,
find how many more minutes the lasagna still needs to bake for.

Input:
30

Output:
10

'''
Given_time = 40
time = int(input("Enter the time for cooking food - "))

print("Need",Given_time - time," minutes more to cook delisious food")

Enter the time for cooking food - 30
Need 10  minutes more to cook delisious food

In [ ]:
'''

You'll write some code to help you cook a gorgeous lasagna from your favorite cookbook.
Now, you also want to add a few layers to the lasagna. Assume **each layer takes 2 minutes** to prepare.
Given the number of layers you want to add to the lasagna, find how many minutes you would spend making them.

'''

num = int(input("Enter no. of layers you want to add lasagna : "))
print(num * 2 ,"minutes you would spend making them")

Enter no. of layers you want to add lasagna : 5
10 minutes you would spend making them

In [ ]:
'''

Problem Description
You wrote some code to help you cook a gorgeous lasagna from your favorite cookbook.
Now, you want to find the total number of minutes you've been cooking
for the sum of your preparation time and the time the lasagna has already spent baking in the oven.
The preparation time of one layer is 2 minutes.
Given the number of layers added to the lasagna and the number of minutes the lasagna has been baking in the oven,
find the total elapsed cooking time (prep + bake) in minutes.

Example Input -
Input 1 -
3
20

Input 2 -
1
29


Example Output -
Output 1 -
26

Output 2 -
31

'''
prep_time = 2
layer = int(input("Enter no. of layer : "))
bake_time = int(input("Enter the no. of minutes : "))
print("Total no. of minutes you have been cooking is : ",layer * prep_time + bake_time)


layer = int(input("Enter no. of layer : "))
bake_time = int(input("Enter the no. of minutes : "))
print("Total no. of minutes you have been cooking is : ",layer * 2 + bake_time)

Enter no. of layer : 1
Enter the no. of minutes : 29
Total no. of minutes you have been cooking is :  31
Enter no. of layer : 3
Enter the no. of minutes : 20
Total no. of minutes you have been cooking is :  26

In [ ]:
'''

Given the value of a single bill and the number of bills you received, print the total value of the bills.

Note: The value of all the bills are same

Input:-
12
10

Output:-
120

'''

bill = int(input("Single bill is : "))
num = int(input("Enter the no. of bills you received : "))
total_bill = bill * num

print("Total value of the bills : ",total_bill)

Single bill is : 12
Enter the no. of bills you received : 10
Total value of the bills :  120

## Tricky Concept - ðŸ‘‡

# Conclusion -
1. If both values are strings, only addition is allowed and it is also known as concatenation of strings .

2. If one value is a string and the other is an integer, only multiplication is allowed.

3. If one value is a float and the other is an integer, addition, multiplication, subtraction, and division are allowed.

4. If one value is a float and the other is a string, no operations are allowed

## If both values are strings, only addition is allowed and it is also known as concatenation of strings other operation(sub,mul,div,floor) not performed.

In [ ]:
# Addition of two string values

alice = "10"
angle = "10"
print( alice + angle )

1010

In [ ]:
# Addition of two string values

bob = "10.0"
ross = "10"
print( bob + ross )

10.010

In [ ]:
# Addition of two string values (Concatenation of strings )

mother = "Hello"
son = "World"
print(mother +  son)

HelloWorld

In [ ]:
# Subtraction of two string values not possible

master = "10"
ross = "10"
print(master - ross )

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
# Subtraction of two string values not possible

master = "angle"
ross = "princess"
print(master -  ross)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
# Multiplication of two string values not possible

queen = "10"
king = "10"
print(queen * king )

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
# Multiplication of two string values Tricky question

value = "alice"
data = "bob"
print(value *  data)

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
# Multiplication of two string values not possible

var1 = "alice"
var2 = "10"
print(var1 * var2 )

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
# Division of two string values not possible

var1 = "10"
var2 = "10"
print(var1 / var2 )

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
# Division of two string values not possible

var1 = "alice"
var2 = "ross"
print(var1 /  var2)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
# Floor Division of two string values not possible

var1 = "10"
var2 = "10"
print(var1 // var2 )

TypeError: unsupported operand type(s) for //: 'str' and 'str'

## If one value is a string and the other is an integer, only multiplication is allowed.

In [ ]:
# Only Multiplication of one integer value and one string value is possible

var1 = 9
var2 = "10"
print(var1 * var2)

101010101010101010

In [ ]:
# Only Multiplication of one integer value and one string value is possible

var1 = 9
var2 = "Ross"
print(var1 * var2)

RossRossRossRossRossRossRossRossRoss

In [ ]:
# Addition of one integer value and one string value is not possible

cookie = 9
knight = "10"
print(cookie + knight)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# Addition of one float value and one string value is not possible

cookie = 9.0
knight = "10"
print(cookie + knight)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
# Subtraction of one integer value and one string value is not possible

var1 = 9
var2 = "10"
print(var1 - var2)

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [ ]:
# Subtraction of one float value and one string value is not possible

var1 = 9.6
var2 = "10"
print(var1 - var2)

TypeError: unsupported operand type(s) for -: 'float' and 'str'

In [ ]:
# Multiplication of two string values not possible

var1 = "Alice"
var2 = "Ross"
print(var1 * var2 )

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
# Division of one integer value and one string value is not possible

var1 = 9
var2 = "10"
print(var1 / var2)

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [ ]:
# Division of one float value and one string value is not possible

var1 = 9.6
var2 = "10"
print(var1 / var2)

TypeError: unsupported operand type(s) for /: 'float' and 'str'

## If one value is a float and the other is an integer, addition, multiplication, subtraction, and division are allowed.

In [ ]:
# Addition of one integer value and one integer value is possible

cookie = 9
ross = 10.2
print(cookie + ross)

19.2

In [ ]:
# Subtraction of one integer value and one integer value is possible

cookie = 9
bob = 1.2
print(cookie - bob)

7.8

In [ ]:
# Multiplication of one integer value and one integer value is possible

var1 = 9
var2 = 1.2
print(var1 * var2)

10.799999999999999

In [ ]:
# Division of one integer value and one integer value is possible

var1 = 9
var2 = 10.2
print(var1 / var2)

0.8823529411764707

In [ ]:
# Floored division of one integer value and one integer value is possible

var1 = 90
var2 = 2.0
print(var1 // var2)

45.0

## If one value is a float and the other is a string, no operations are allowed

In [ ]:
# Only Multiplication of one float value and one string value is possible

var1 = 9.5
var2 = "10"
print(var1 * var2)

TypeError: can't multiply sequence by non-int of type 'float'

## Tricky Questions - ðŸ‘‡

In [ ]:
# Multiplication of one int value with str value

Num = 5
print(str(Num) * 5)

55555

In [ ]:
num = int(input())
print((str(num) + " ") * num)

5
5 5 5 5 5

In [ ]:
num = int(input())
print((str(num) + "\n") * num)

4
4
4
4
4

In [ ]:
num = int(input())
print((str(num) + ",") * num)

5
5,5,5,5,5,

In [ ]:
# Tricky Question - Remove the comma (,) from last

Num = int(input())
print((str(Num) + ",") * (Num - 1) + str(Num))

5
5,5,5,5,5